[user]
	name = Kousuke Sugano
	email = sinner.shiki.g@gmail.com
[push]
	default = simple
[core]
	editor = "/Applications/Emacs.app/Contents/MacOS/Emacs -nw"
	excludesfile = /Users/sinner/.gitignore_global
	quotepath = false
[alias]
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    p = !git push origin `git rev-parse --abbrev-ref HEAD`
    st = status
    cm = commit
    cmm = commit -m
    co = checkout
    cob = checkout -b
    stt = status -uno
    difff = diff --word-diff
    unstage = reset HEAD
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
